# Keystore configuration file
# IMPORTANT: Rename this file to 'keystore.properties' and fill in your actual values
# DO NOT commit keystore.properties to git - it contains sensitive information

storeFile=etik-release.keystore
storePassword=YOUR_STORE_PASSWORD_HERE
keyAlias=etik-key
keyPassword=YOUR_KEY_PASSWORD_HERE
